.rootElement {
  border: 1px solid black;
  align-content: center;
  width: fit-content;
  height: fit-content;
  padding: 30px;
  display: block;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

h4 {
  color: cornflowerblue;
}
hr {
  color: cornflowerblue;
}
.photo {
  margin-top: 10px;
  margin-right: 20px;
  padding-right: 10px;
  padding-top: 20px;
}
.name {
}
